.container--all-projects--formal{
  background-color: #3D4468;
  color: aliceblue;
  border-radius: 20px;
  margin-bottom: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container--projects--formal{
  padding: 20px;
  width: 100%;
}

.tittle--projects--formal{
  margin: 20px;
}

.projects--formal{
  margin: 40px;
}

.unity--project--formal{
  width: 300px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
}