.container {
  height: 800px;
  width: 1400px;
  /* background-color: #99e299;
  border: 3px solid black; */
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.tv {
  background-color: #3c5ca7;
  height: 650px;
  width: 1270px;
  position: relative;
  top: 100px;
  left: 5px;
  border-radius: 15px;
}

.speaker{
  position: absolute;
  top: 50px;
  right: 7px;
}

.speaker>div{
  background-color: #354363;
  height: 6px;
  width: 50px;
  margin-bottom: 5px;
  border-radius: 8px;
}

.slot{
  background-color: #354363;
  height: 6px;
  width: 320px;
  position: absolute;
  border-radius: 10px;
  bottom: 12px;
  left: 18px;
}

.antenna{
  background-color: #3d3f3d;
  height: 40px;
  width: 80px;
  border-radius: 20px 20px 0 0;
  position: absolute;
  top: -40px;
  left: 50px;
}

.a{
  background-color: #3d3f3d;
  height: 70px;
  width: 10px;
  border-radius: 6px;
  position: relative;
}

.a:nth-child(1){
  bottom: 60px;
  left: 10px;
  transform: rotate(-30deg);
}

.a:nth-child(2){
  bottom: 130px;
  left: 45px;
  transform: rotate(30deg);
}

.stand1, .stand2{
  background-color: #354363;
  height: 10px;
  width: 48px;
  position: absolute;
  border-radius: 0 0 15px 15px;
  bottom: -10px;
}

.stand1{
  left: 45px;
}

.stand2{
  right: 45px;
}

input[type="checkbox"]{
  -webkit-appearance: none;
  background-color: #282C34;
  height: 30px;
  width: 30px;
  border-radius: 30%;
  position: absolute;
  top: 100px;
  right: 15px;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:before{
  content: 'Desligada';
  position: absolute;
  background-color: black;
  top: -50px;
  height: 540px;
  width: 1155px;
  right: 45px;
  border-radius: 5px;
  border: 10px solid #354363;
  background-size: 125px 140px;
  animation: move 20s infinite linear;
}

@keyframes move {
  100%{
    background-position: 2000px 0;
  }
}

input:checked[type="checkbox"]:before, .project:focus{
  content:'';
  background-size: 100% 100%;
  animation: none;
  background-color:#e4e4e4;
}


.screen{
  top: 60px;
  right: 70px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 1135px;
  height: 520px;
  position: absolute;
  cursor: pointer;
  justify-content: center;
  align-content: center;
}

.project {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 180px;
  height: 190px;
  margin: 20px;
  border-radius: 20px;
}


