@media screen and (min-width: 320px) and (max-width: 1439px) {
  body {
    font-family: 'VT323', monospace;
    text-align: center;
    /* background-color: #c0bdbd; */
  }
  .nav--bar {
    background-color: #282C34;
    width: 100%;
    height: 100px;
    top: 0;
    display: flex;
  }

  .item--react-logo {
    display: flex;
    justify-content: center;
  }

  .section--logo {
    display: flex;
    width: 100px;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  .icons--navBar {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    align-items: center;
    justify-self: flex-end;
    justify-content: flex-end;
  }
  .formalIMG{
    display: flex;
    width: 80px;
    height: 80px;
    margin: 5px;
  }

  .item--icon {
    display: none;
  }  

  .slideRight{
    display: none;
  }

  .JB--Apontando{
    display: none;
  }

  .photo--perfil{
    width: 200px;
    border-radius: 50%;
  }

  .My--Person--Block{
    margin: 10px;
  }
}

@media screen and (min-width: 1440px){

body {
  font-family: 'VT323', monospace;
  text-align: center;
}

.photo--perfil{
  display: none;
}

.nav--bar {
  background-color: #282C34;
  width: 100%;
  height: 100px;
  top: 0;
  display: flex;
}

.icons--navBar {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  align-items: center;
  justify-self: flex-end;
  justify-content: flex-end;
}

.item--react-logo {
  display: flex;
  justify-content: center;
}

.section--logo {
  display: flex;
  width: 125px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.item--icon {  
  display: flex;
  width: 80px;
  height: 80px;
  margin: 5px;
}

.formalIMG{
  display: flex;
  width: 80px;
  height: 80px;
  margin: 5px;
}

.contentWelcome {
  display: flex;
  width: 100%;
  height: 15cm;
  justify-content: space-evenly;
  align-items: center;

}

.contentWelcome--img {
  display: flex;
  width: 330px;
  height: 75%;
  justify-content: flex-start;
  align-items: center;
}

.contentWelcome--CardWelcome {
  display: flex;
  width: 700px;
  height: 80%;
  justify-content: center;
  align-items: center;
}

.contentWelcome--LetsGo {
  display: flex;
  width: 300px;
  height: 100%;
}

.Card--LetsGo {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.JB--Suit {
  display: flex;
  width: 300px;
}

.setaBaixo--block {
  display: flex;
  justify-content: center;
}

.setaBaixo {
  display: flex;
  width: 120px;
  position:relative;

  animation-name: setaBaixo;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes setaBaixo{
    0%{
        top: 0px;
    }
    100%{
        top: 30px;
    }
}

.My--Person--Block {
  display: flex;
  width: 900px;
  height: 400px;
}
}
