.container--languages--tools{
  background-color: #262539;
  border-radius: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container--languages--formal{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
}

.container--languages--formal img{
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
}

.languages--formal{
  width: 150px;
  border-radius: 0%;
  margin: 10px;
}

.title--languages{
  margin-top: 80px;
  color: aliceblue;
}

.title--tools{
  margin-top: 80px;
  color: aliceblue;
}

.container--tools--formal{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
  margin-bottom: 50px;
}

.container--tools--formal img{
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
}

.tools--formal{
  width: 150px;
  border-radius: 0%;
  margin: 10px;
}

.tools--formal:nth-child(2){
  width: 150px;
  margin: 10px;
}